BODY {
	BORDER-RIGHT: #dddddd 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #dddddd 1px solid; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 3px; BORDER-LEFT: #dddddd 1px solid; COLOR: #000; PADDING-TOP: 0px; BORDER-BOTTOM: #dddddd 1px solid
}
BODY.fixedwidth800 {
	MARGIN: 0px auto; WIDTH: 800px
}
#fixedwidth {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LEFT: 50%; PADDING-BOTTOM: 0px; MARGIN-LEFT: -350px; WIDTH: 768px; PADDING-TOP: 0px; POSITION: absolute
}
BODY.fixedwidth {
	MARGIN: 0px auto; WIDTH: 768px
}
BODY.maxwidth {
	MARGIN: 0px auto; max-width: 960px
}
A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
DIV.breadcrumbs {
	FONT-SIZE: 75%
}
#leaderboard {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/graphics/ldrback.jpg) white repeat-x; PADDING-BOTTOM: 5px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 5px; TEXT-ALIGN: center
}
#header {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/graphics/hdrback.png) #000044 repeat-x right bottom; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 60px
}
#logo {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 2px; Z-INDEX: 1; LEFT: 0px; MARGIN: 0px; BORDER-LEFT: 0px; WIDTH: 150px; BORDER-BOTTOM: 0px; POSITION: absolute; TOP: 0px; HEIGHT: 8px
}
#logo A {
	DISPLAY: block; BACKGROUND: url(/graphics/pnlogo2.gif) no-repeat 2px 12px; WIDTH: 150px; TEXT-INDENT: -700em; HEIGHT: 55px; TEXT-DECORATION: none; voice-family: inherit
}
dummy {
	
}
#header #tabs {
	PADDING-RIGHT: 15px; PADDING-LEFT: 0px; RIGHT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: auto; BOTTOM: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; POSITION: absolute
}
#tabs LI.tab {
	PADDING-RIGHT: 6px; PADDING-LEFT: 0px; FONT-SIZE: 11px; BACKGROUND: url(/graphics/hdrtab.gif) no-repeat 100% -600px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px 1px 0px 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #515358 1px solid; POSITION: relative
}
#tabs LI.tab A.tab {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 10px; FONT-WEIGHT: bold; BACKGROUND: url(/graphics/hdrtab.gif) no-repeat 0% -600px; FLOAT: left; PADDING-BOTTOM: 4px; COLOR: #fff; PADDING-TOP: 4px; FONT-FAMILY: verdana,helvetica,sans-serif; TEXT-DECORATION: none
}
LI.tab UL {
	BORDER-RIGHT: #aaaaaa 3px outset; PADDING-RIGHT: 3px; BORDER-TOP: medium none; PADDING-LEFT: 0px; Z-INDEX: 5; BACKGROUND: #88909c; LEFT: 0px; VISIBILITY: hidden; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #aaaaaa 3px outset; WIDTH: 143px; PADDING-TOP: 0px; BORDER-BOTTOM: #aaaaaa 3px outset; LIST-STYLE-TYPE: none; POSITION: absolute; TOP: 22px
}
UNKNOWN {
	LEFT: auto; WIDTH: 140px; TOP: auto; voice-family: inherit
}
UNKNOWN {
	
}
LI.tab UL LI {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
LI.tab UL LI A {
	FONT-SIZE: 11px; COLOR: white; FONT-FAMILY: verdana,helvetica,sans-serif; TEXT-DECORATION: none
}
UNKNOWN {
	BACKGROUND-POSITION: 0% -400px
}
LI.tab:hover {
	BACKGROUND-POSITION: 100% -400px
}
#tabs LI.tab A:hover {
	COLOR: #add8e6; TEXT-DECORATION: none
}
LI.tab UL A:hover {
	COLOR: #add8e6; TEXT-DECORATION: none
}
LI.tab:hover UL {
	Z-INDEX: 10; VISIBILITY: visible
}
LI.sfhover UL {
	Z-INDEX: 10; VISIBILITY: visible
}
#header #hdroptions {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; RIGHT: 50px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; WIDTH: auto; COLOR: #add8e6; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: verdana,helvetica,sans-serif; LIST-STYLE-TYPE: none; POSITION: absolute; TOP: 5px
}
#header #hdroptions A {
	PADDING-RIGHT: 10px; DISPLAY: inline; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; COLOR: #add8e6; PADDING-TOP: 0px; FONT-VARIANT: small-caps; TEXT-DECORATION: none
}
#header #hdroptions A:hover {
	COLOR: white
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
TD.boxtitle {
	FONT-WEIGHT: bolder
}
TD.boxtext H2 {
	FONT-WEIGHT: bolder; FONT-SIZE: 110%; COLOR: #449
}
#interstitial-footer {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN: 0px; BORDER-LEFT: 0px; COLOR: #777777; BORDER-BOTTOM: 0px; TEXT-ALIGN: center
}
#interstitial-header {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN: 0px; BORDER-LEFT: 0px; COLOR: #777777; BORDER-BOTTOM: 0px; TEXT-ALIGN: center
}
#interstitial-header {
	MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BORDER-BOTTOM: #dddddd 1px solid
}
#interstitial-header:unknown {
	content: "ADVERTISEMENT"
}
#interstitial-footer {
	BORDER-TOP: #dddddd 1px solid; MARGIN-TOP: 5px; PADDING-TOP: 3px
}
#interstitial-footer A:visited {
	COLOR: #777777
}
#interstitial-footer A:link {
	COLOR: #777777
}
#footer {
	CLEAR: both; MARGIN-TOP: 15px; BACKGROUND: #efefef; TEXT-ALIGN: center
}
.iTt {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: black 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; BORDER-LEFT: black 1px solid; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: black 1px solid; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica; BACKGROUND-COLOR: lightyellow
}
.pricestable {
	FONT-FAMILY: Arial; BACKGROUND-COLOR: #afafaf
}
.pricestitlerow {
	FONT-SIZE: 10pt; BACKGROUND-COLOR: #ebeef1
}
.priceslabelrow {
	FONT-SIZE: 8pt; COLOR: #ffffff; BACKGROUND-COLOR: #b9c0d6
}
.pricesheaderrow {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; COLOR: #606060; BACKGROUND-COLOR: #e0e0e0
}
.pricesdatarow {
	FONT-SIZE: 9pt; BACKGROUND-COLOR: #ffffff
}
.pricestable A {
	TEXT-DECORATION: none
}
.pricestable A:hover {
	TEXT-DECORATION: underline
}
.label {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; COLOR: #606060
}
.listprice {
	TEXT-DECORATION: line-through
}
